* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #0f1424;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-family: "Rubik", sans-serif; }

main {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center; }

.left {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 13px;
  background-color: #1c1f4a;
  padding: 0px;
  width: 20%; }
  .left .profile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 13px;
    background-color: #5847eb;
    padding: 20px 50px 10px 20px;
    flex: 70%; }
    .left .profile img {
      height: 65px;
      width: 65px;
      border: 2px solid white;
      border-radius: 100%; }
    .left .profile .text {
      display: flex;
      flex-direction: column; }
      .left .profile .text p:nth-child(1) {
        margin: 50px 0px 5px 0px;
        color: #bdc1ff;
        font-size: 13px; }
      .left .profile .text p:nth-child(2) {
        margin: 5px 0px 25px 0px;
        color: white;
        font-size: 31px;
        font-weight: 300; }
  .left .options {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 13px;
    background-color: #1c1f4a;
    flex: 30%;
    align-items: flex-start; }
    .left .options button {
      font-size: 16px;
      margin: 8px 0px;
      font-weight: 400; }
    .left .options button.inactive:hover {
      color: white; }
    .left .options button.active {
      color: white;
      background-color: transparent;
      border: none;
      font-size: 16px; }
    .left .options button.inactive {
      color: #bdc1ff;
      background-color: transparent;
      border: none;
      font-size: 16px; }

.right {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0px 20px;
  width: 70%; }
  .right .work {
    padding: 0;
    border-radius: 13px;
    background-color: #ff8c66;
    background-image: url(./images/icon-work.svg);
    background-position: right -15px;
    display: flex; }
  .right .play {
    padding: 0;
    border-radius: 13px;
    background-color: #56c2e6;
    background-image: url(./images/icon-play.svg);
    background-position: right -15px;
    display: flex; }
  .right .study {
    padding: 0;
    border-radius: 13px;
    background-color: #ff5c7c;
    background-image: url(./images/icon-study.svg);
    background-position: right -15px;
    display: flex; }
  .right .exercise {
    padding: 0;
    border-radius: 13px;
    background-color: #4acf81;
    background-image: url(./images/icon-exercise.svg);
    background-position: right -15px;
    display: flex; }
  .right .social {
    padding: 0;
    border-radius: 13px;
    background-color: #7536d3;
    background-image: url(./images/icon-social.svg);
    background-position: right -15px;
    display: flex; }
  .right .selfcare {
    padding: 0;
    border-radius: 13px;
    background-color: #f1c65b;
    background-image: url(./images/icon-self-care.svg);
    background-position: right -15px;
    display: flex; }
  .right .bg {
    padding: 45px 0px 0px 0px;
    background-repeat: no-repeat;
    display: flex; }
    .right .bg div:hover {
      background-color: #6f76c8; }
    .right .bg div {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0px;
      border-radius: 13px;
      background-color: #1c1f4a;
      padding: 6px 10px 12px 10px; }
      .right .bg div div:hover {
        background-color: #bdc1ff; }
      .right .bg div div:nth-child(1) {
        padding: 0px 10px;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        justify-content: space-between;
        align-items: center; }
        .right .bg div div:nth-child(1) p {
          font-size: 18px;
          color: white;
          font-weight: 400;
          padding: 0px 20px 0px 0px; }
        .right .bg div div:nth-child(1) img:hover {
          cursor: pointer; }
        .right .bg div div:nth-child(1) img {
          height: 4px;
          width: 19px; }
      .right .bg div div:nth-child(2) {
        display: flex;
        background-color: transparent; }
        .right .bg div div:nth-child(2) p:nth-child(1) {
          font-size: 46px;
          color: white;
          font-weight: 300;
          margin: 0px 10px 0px 0px;
          display: flex; }
        .right .bg div div:nth-child(2) p:nth-child(2) {
          font-size: 15px;
          color: #bdc1ff;
          font-weight: 300;
          margin: 0px 10px 0px 5px;
          display: flex; }

@media screen and (max-width: 375px) {
  body {
    height: auto; }
  main {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    height: inherit;
    padding: 40px 0px; }
    main .left {
      width: 90%;
      margin: 40px 0px 20px 0px; }
      main .left .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 40px 10px 40px 10px; }
        main .left .profile img {
          height: 60px;
          width: 60px; }
        main .left .profile .text {
          padding: 0px 10px; }
          main .left .profile .text p:nth-child(1) {
            margin: 0px 0px 5px 0px; }
          main .left .profile .text p:nth-child(2) {
            margin: 0px 0px 0px 0px;
            font-size: 25px; }
      main .left .options {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; }
        main .left .options p {
          font-size: 19px; }
    main .right {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 70%;
      margin: 0px 0px 60px 0px; }
      main .right .bg {
        flex-direction: row; }
        main .right .bg div {
          padding: 20px 12px 12px 12px; }
          main .right .bg div div:nth-child(1) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; }
            main .right .bg div div:nth-child(1) p {
              font-size: 18px;
              padding: 0px 20px 0px 0px;
              margin: 0px; }
          main .right .bg div div:nth-child(2) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 7px 8px 7px 8px; }
            main .right .bg div div:nth-child(2) p:nth-child(1) {
              font-size: 35px;
              margin: 0px; }
            main .right .bg div div:nth-child(2) p:nth-child(2) {
              font-size: 15px;
              margin: 0px; } }
